
body {
	
	font-size:12px;
	padding-bottom: 40px;
	
}
.container-fluid{padding-top: 20px;}

/*Nav bar*/
.navbar .brand {
  display:block;
  float:left;
  font-size:20px;
  font-weight:200;
  /*padding:10px 20px;*/
}

.navbar .nav > li > a {
  float:none;
  padding:10px 15px;
  text-decoration:none;
}

.navbar-search .search-query {
  border-radius:5px;
}

//.style-switcher{margin-left:20px;}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	.container-fluid{padding-top: 100px;}
	/*.container-fluid{padding-top: 60px;}*/
	/*.navbar .brand {margin-left:-90px;}*/
	/*.style-switcher{margin-left:-70px;}*/
	/*.navbar .brand {padding-left:20px;}*/
	/*.style-switcher{padding-left:20px;}*/
	.login{position:absolute!important;padding-right:60px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	.container-fluid{padding-top: 100px;}
	/*.container-fluid{padding-top: 60px;}*/
	/*.navbar .brand {margin-left:-90px;}*/
	/*.style-switcher{margin-left:-70px;}*/
	/*.navbar .brand {padding-left:20px;}*/
	/*.style-switcher{padding-left:20px;}*/
	.login{position:absolute!important}
}

/* In-between large screens and desktop*/
@media only screen
and (min-width : 980px) {
	.container-fluid{padding-top: 100px;}
}


table.detail-view td {font-size:12px;}
h1,h2,h3,h4, .portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar a, th{
	font-family: 'Carrois Gothic', sans-serif;
}

.detail-view th{
	text-align: right;
	border-left:#fff solid 1px;
}

.null{
	color:pink;
}
.portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar li > a, th{
	/*font-size:14px!important;*/
	font-size:14px;
}
/* Start Portlets*/
.portlet{
-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
  border:1px solid #DDDDDD;
  border-radius:3px;
  box-shadow:#F9F9F9 0 1px 0 inset;
  margin-bottom:20px;
  min-height:40px;
}

.portlet #customer{
	width:200px;
}

.portlet-decoration{
	border-bottom:1px solid #DDD;
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

  margin-right:5px;

}
.portlet-content{
	padding:5px;
}


.portlet-decoration-notification{
	background-color: #152A60;
	background-image: -moz-linear-gradient(top, #152A60, #4394CF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#152A60), to(#4394CF));
	background-image: -webkit-linear-gradient(top, #152A60, #4394CF);
	background-image: -o-linear-gradient(top, #152A60, #4394CF);
	background-image: linear-gradient(to bottom, #152A60, #4394CF);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	padding:10px;
}

.portlet-title-notification{
	font-weight: bold;
	color: #fff;
	font-size: medium;
}

.portlet-content-notification{
	padding:5px;
	color: #152A60;
	border:1px solid #4394CF;
}

/* end Portlets*/
.navbar {
  margin-bottom:0px;
  overflow:visible;
}

.summary ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.summary ul li {
height: 52px;
clear: both;
margin-bottom: 14px;
}

.summary ul li .summary-icon {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}

.summary ul li .summary-number {
font-size: 20px;
font-weight: bold;
display: block;
padding-top: 8px;
}

.summary ul li .summary-title {
display: block;
text-transform: uppercase;
font-size: 11px;
color: #AB4000;
}

.stat-block {
margin-bottom: 20px;
padding: 10px;
min-height:40px;
background: #F1F1F1;
background: -moz-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
background: -webkit-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -o-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -ms-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #F9F9F9;
-moz-box-shadow: inset 0 1px 0 #f9f9f9;
box-shadow: inset 0 1px 0 #F9F9F9;
}

.stat-block ul {
margin: 0px;
padding: 0px;
}

.stat-block li {
list-style: none;
float: left;
}

.stat-block .stat-graph {
width: auto;
background: white;
padding: 10px 10px 8px 10px;
border: #D7D7D7 1px solid;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
}

.stat-block .stat-count {
width: 90px;
}

.stat-block .stat-count span:last-child {
color: #666;
font-size: 12px;
font-weight: normal;
padding-top:3px;
}

.stat-block li span {
display: block;
}

.stat-block .stat-count span:first-child {
color: #1D2E7B;
font-weight: bold;
font-size: 20px;
}

.stat-block .stat-percent {
width: 40px;
float: right !important;
text-align: center !important;
}

.stat-percent{
	 font-size: 20px;
	 font-weight: bold;
 }
 /*Navbar*/
 .navbar-fixed-top {
  top:0;
  left:0;
}
 
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}
/*Side Nav*/
.sidebar-nav {
  padding:0!important;
}

.sidebar-nav ul{
  padding:0;
  margin:0;
}

.sidebar-nav ul li{
  list-style: none;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .sidebar-nav ul > li > span {
	padding:9px 15px;
  	margin-bottom:3px;
  	display:block;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.sidebar-nav ul > li > a{
	
	/*background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);*/
	background-color: #3a87ad;
	/*background-image: -moz-linear-gradient(top, #3a87ad, #57b6fb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a87ad), to(#57b6fb));
	background-image: -webkit-linear-gradient(top, #3a87ad, #57b6fb);
	background-image: -o-linear-gradient(top, #3a87ad, #57b6fb);
	background-image: linear-gradient(to bottom, #3a87ad, #57b6fb);*/
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	
	/*-webkit-box-shadow:#F9F9F9 0 1px 0 inset;*/
	-webkit-box-shadow:#3a87ad 0 1px 0 inset;
	/*border:1px solid #DDDDDD;*/
	border:1px solid #3a87ad;
	border-radius:3px;
	/*box-shadow:#F9F9F9 0 1px 0 inset;*/
	box-shadow:#3a87ad 0 1px 0 inset;
	text-decoration:none;
  	color:#F1F1F1;
  
}

.sidebar-nav  ul > li.active > a, .sidebar-nav ul > li.active > a:hover, .sidebar-nav ul > li > a:hover  {

	/*background-color: #9e9090!important;*/
	background-color:#006697!important;
	/*background-image: -moz-linear-gradient(top, #9e9090, #979898)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e9090), to(#979898))!important;
	background-image: -webkit-linear-gradient(top, #9e9090, #979898)!important;
	background-image: -o-linear-gradient(top, #9e9090, #979898)!important;
	background-image: linear-gradient(to bottom, #9e9090, #979898)!important;*/
	background-image: -moz-linear-gradient(top, #fff, #006697);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#006697))!important;
	background-image: -webkit-linear-gradient(top, #fff, #006697)!important;
	background-image: -o-linear-gradient(top, #fff, #006697)!important;
	background-image: linear-gradient(to bottom, #006697, #006697)!important;	
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff9e9090', endColorstr='#ff979898', GradientType=0);
	
	/*box-shadow:#cccccc 0 1px 0 inset;
	border:1px solid #9e9090;*/
	box-shadow:#006697 0 1px 0 inset;
	border:1px solid #007DB9;
	color:#F1F1F1;
	font-size:125%;
	font-weight:bold;
}

.subnav.navbar-fixed-top {
  top:40px;
  z-index:100;
}
/*Progress bar*/
.progress, .ui-progressbar {
	height:10px;
}

.ui-progressbar {
  border:0;
  border-radius:4px;
  clear: both;
  margin-bottom:20px;
}

.ui-progressbar.ui-widget-content {
	-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	background-color:#F7F7F7;
	background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	overflow:hidden;
}

.ui-progressbar .ui-widget-header{
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow: none;
	box-sizing:border-box;
	color:#FFFFFF;
	float:left;
	height:100%;
	border:0;/**/
}
.ui-progressbar .ui-progressbar-value {
  margin:0px;
}


.ui-progressbar .ui-widget-header {
  -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  -webkit-transition:width 0.6s ease;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing:border-box;
  color:#FFFFFF;
  float:left;
  font-size:12px;
  height:100%;
  text-align:center;
  text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
  width:0;
}

.progress-info .ui-widget-header, .progress-info.ui-slider.ui-widget-content  {
  background-color:#4BB1CF !important;
  background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
  background-repeat:repeat no-repeat;;
}

.progress-success .ui-widget-header, .progress-success.ui-slider.ui-widget-content  {
  background-color:#5EB95E  !important;
  background-image:-webkit-linear-gradient(top, #62C462, #57A957);
  background-repeat:repeat no-repeat;
}

.progress-warning .ui-widget-header, .progress-warning.ui-slider.ui-widget-content {
  background-color:#FAA732 !important;
  background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
  background-repeat:repeat no-repeat;
}

.progress-danger .ui-widget-header, .progress-danger.ui-slider.ui-widget-content  {
  background-color:#DD514C !important;
  background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
  background-repeat:repeat no-repeat;
}

.progress-striped .ui-widget-header, .progress-striped.ui-slider.ui-widget-content  {
  -webkit-background-size:40px;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  background-repeat:repeat;
}

.active.ui-progressbar .ui-widget-header {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
/*slider*/
.ui-slider{
	margin-bottom:20px;
}

.ui-slider.ui-widget-content{
	-webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	-webkit-transition:width 0.6s ease;
	background-color:#149BDF;
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	box-sizing:border-box;
	border:none;
}

/*Table*/
.table > table{
	width:100%;
}

/*CGridview*/
.filters select, .filters input, .filters .uneditable-input {
  border-radius:none;
  font-size:14px;
  height:20px;
  line-height:10px;
  margin-bottom:0;
  padding:0;
}

/*Pagination*/

.pager{
	margin:20px 0;
}
.pager ul{
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  border-radius:0px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  display:inline-block;
  margin-bottom:0;
  margin-left:0;
  text-align:center;
}

.pager a, .pager span{
	
	border-radius:0px;
	margin-left:3px;
}

.pager ul > li.last > a, .pager ul > li.last > span {
  border-left-radius:4px;
}

.pager ul > li > a, .pager ul > li > span {
  background-color:#FFFFFF!important;
  border-color:#DDDDDD!important;
  border-style:solid;
  border-width:1px;
  float:left;
  line-height:20px;
  padding:4px 12px!important;
  text-decoration:none;
}

.pager ul > li.first > a, .pager ul > li.first > span {
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;
}

ul.yiiPager li.hidden{
	display:none!important;	
}

/*CListView*/
.list-view div.view{
	
	border:solid 1px #DDDDDD;
	padding: 10px;
	margin-bottom:10px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
	box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
	border-radius:4px;
	
}

/*Form*/
.filters input, .filters .uneditable-input {
  width:100% !important;
}

div.form > form  .row {
  margin-left:0px;
}

/*Footer*/
footer {
	margin-top:10px;
	text-align:center;
}
/*Style switcher*/
.style-switcher
{
	padding-top:13px;
	/*display:none;*/
}
.style-switcher span.style
{
	width:16px; 
	height:16px; 
	display:block;
	margin-right:5px;
	float:left;
}

/*Button styles*/
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
/* Additional Button styles*/
.btn-group.btn-group-yesno > .btn {
    min-width: 84px;
    padding: 2px 12px;
}

btn-group-offer > .btn {
    min-width: 30px;
    //padding: 2px 12px;
}

.loader{
	padding:200px 50px;;
	text-align:center;
	color:#039;
}

.link-hand{
	cursor:pointer;
}


/** Additional CSS for gridview formatting : Start **/
tr td.redish{
	//background-color: #49afcd;
	color: #49afcd;
}

/* cancelled record (rows)*/
tr.cancelled
{
	color: #FF0000;
}

tr.active
{
	
}

table-striped tr td.cancelled {
    background:#FFF6BF;
    //color:#514721;
}
/** Additional CSS for gridview formatting : End **/

table tr.odd td a.check {
	background-image: url("../img/icons_payment/check.png");
	width: 100px;
}

table tr td a.cash {
	background-image: url("../img/icons_payment/check.png");
}

/* Main portal CSS*/
.header-image-container{}
/*img.header-image{display:block; margin:0 auto; height:300px;width:90%;}*/
img.header-image{display:block; margin:0 auto; height:320px;width:90%;}
.brand img {display:block;height: 20px;width: auto;float:left; padding-right:10px;}
/* end Main portal CSS*/
/* Dashboard CSS*/
.box-rstl, .box-header{overflow:hidden;}
.h320{height:320px; padding-bottom:10px;}
.h580{height:580px; padding-bottom:10px;}
ul.dashboard-list{padding:0px 30px; margin:0px 30px;}
.orbit-container a.orbit-prev,
  .orbit-container a.orbit-next {
    /*position: absolute;
    top: 50%;
    margin-top: -25px;*/
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
    height: 60px;
    line-height: 50px;
    color: white;
    text-indent: -9999px !important;
    /*z-index: 10; */
	}
    .orbit-container .orbit-prev:hover,
    .orbit-container .orbit-next:hover {
      background-color: rgba(0, 0, 0, 0.6); }
    .orbit-container .orbit-prev > span,
    .orbit-container .orbit-next > span {
      /*position: absolute;
      top: 50%;
      margin-top: -16px;*/
      display: block;
      width: 0;
      height: 0;
      border: inset 16px; }
  .orbit-container .orbit-prev {
    left: 0; }
    .orbit-container .orbit-prev > span {
      border-right-style: solid;
      border-color: transparent;
      border-right-color: #cccccc;
	  margin-top: 160px; }
    .orbit-container .orbit-prev:hover > span {
      border-right-color: black; }
  .orbit-container .orbit-next {
    right: 0; }
    .orbit-container .orbit-next > span {
      border-color: transparent;
      border-left-style: solid;
      border-left-color: #cccccc;
      //left: 50%;
      margin-left: 10px; 
	  margin-top: 160px;}
    .orbit-container .orbit-next:hover > span {
      border-left-color: black; }
#top5-analysis-grid {padding:0;}

p.description{font-family: "Carrois Gothic",sans-serif;font-size:14px;}
/* End Dashboard CSS*/

/* Additional Operations CSS*/
ul.operations{margin:0;}
.operations li {display:block;line-height:26px;background-color: #F3F3F3; margin-bottom:5px;}
.operations>li>a{display:block; padding: 3px 15px;}
/*.operations > li > a,*/
.operations > li > a:hover,
.operations > li > a:focus {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #3a87ad;
	text-decoration:none;
	
}
/* End Additional Operations CSS */

/* From charisma css*/
div.center, p.center, img.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}
.login-box .btn {
    /*margin-top: 15px;*/
    width: 100%;
}
.remember {
    margin-top: 3px;
	font-size:12px;
}
label div.checker, label div.radio {
    margin-bottom: 3px;
}
.login-box .input-prepend {
    margin-bottom: 10px;
}

/* */